version: '3.8'

services:
  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: attendance_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: admin123
    ports:
      - "5432:5432"

  backend:
    build: ./backend
    command: >
      sh -c "python manage.py collectstatic --noinput &&
             python manage.py migrate &&
             python manage.py seed_data &&
             gunicorn config.wsgi:application --bind 0.0.0.0:8000"
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: postgres://postgres:admin123@db:5432/attendance_db
      DEBUG: "False"
      SECRET_KEY: dev_secret_key
      ALLOWED_HOSTS: "3.108.218.4,localhost"
    depends_on:
      - db

  frontend:
    build: ./frontend
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "5173:3000"
    environment:
      VITE_API_URL: http://3.108.218.4:8000/api
      VITE_GEMINI_API_KEY: AIzaSyBK8JXGNZedhvywodCUDQokoxn1uw50O3o
    depends_on:
      - backend

volumes:
  postgres_data:
